<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Tokens</title>
</head>

<body>
	<div class="container">
		<h1>Tokens Ativos</h1>
	<form ref='uploadForm'  id='uploadForm' method="get" encType="multipart/form-data">
	
		<table name="table" class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Projeto</th>
					<th scope="col">Estudente</th>
					<th scope="col">Token</th>
					<th scope="col">Acão</th>
				</tr>
			</thead>
			<tbody>
				<%for ( var i = 0; i < tokens.length; i++ ){%>
				<tr>
					<td><%=tokens[i].projectName%></td>
					<td><%=tokens[i].studentName%></td>
					<td ><%=tokens[i].token%></td>
					<td> <a href="/deliveryWork?token=<%=tokens[i].token%>">Entregar</a></td>
				</tr>
				<%}%>
				
			</tbody>
		</table>
	</form>
	</div>

</body>

</html>